html{
    background-image: url(/assets/cover.jpeg);
    background-size: cover;
    font-size: 15px !important;

    
}

body{
    background-color: transparent;
    padding: 50px;
}

.card{
    border-radius:10px;
    border: none;
    background: rgba( 244, 221, 65, 0.5 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
}

.card-body li, a{
    text-decoration: none !important;
    color: rgb(0, 0, 0);
}

.navbar{
    background-color:orangered
}

.azul{
    font-weight: bolder;
}