* {
    overflow: hidden;
}

body{
    background-color: transparent;
}

html{
    font-size: 18px;
    background-image: url("/assets/pexels-pixabay-414916.jpg");
    background-size: cover;
    padding: 50px !important;   
}

h4{
    font-size: 15px;
}

.card{
    height: 80vh;
    width: 40vw;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input {
    margin-top: 20px;
}

button{
    margin-top: 30px;
}

